@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --default-margin: 30px 100px;
}

body {
  /* background-color: lightblue; */
  background: linear-gradient(166deg, rgb(0, 126, 176) 30%, transparent 30.1%) no-repeat;
}

.about-container {
  display: flex;
  margin: var(--default-margin);
}

.about-container img {
  max-width: 100%;
  max-height: 100%;
  min-width: 40%;
  min-height: 35%;
  box-shadow: 1px 1px 10px black;
  z-index: 1;
}

.about-card {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px gray;
  padding: 10px 30px;
  margin: 50px 0 50px 0;
  background-color: white;
  z-index: 0;
  gap: 50px;
}

.about-description {
  display: flex;
  flex-direction: column;
}

.about-description p {
  font-size: 18px;
}

.about-links {
  display: flex;
  justify-content: end;
}
.about-links i {
  text-align: end;
  font-size: 30px;
  color: black;
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: var(--default-margin);
  margin-top: 100px;
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.project-card {
  width: 20rem;
  height: 25rem;
  box-shadow: 2px 3px 10px black;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-card img {
  width: 100%;
  height: 50%;
}

.project-description {
  display: grid;
  padding: 10px;
  grid-template-rows: 30% 100%;
  gap: 20px;
}

.project-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-heading a {
  color: black;
}

.project-link {
  display: flex;
  gap: 12px;
  transition: 0.3s;
}

.project-link a {
  color: black;
  font-size: 20px;
  animation: spin-animation-reverse 0.7s 1;
}

.project-link a:hover {
  animation: spin-animation 0.7s 1;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-animation-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
