@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --default-margin: 30px 100px;
}

body {
  background: linear-gradient(166deg, rgb(0, 126, 176) 20%, transparent 20.1%) no-repeat;
  overflow-x: hidden;
}

.about-container {
  display: flex;
  margin: var(--default-margin);
}

.about-container img {
  max-width: 100%;
  max-height: 100%;
  min-width: 40%;
  min-height: 35%;
  box-shadow: 1px 1px 10px black;
  z-index: 1;
}

.about-card {
  display: flex;
  margin-bottom: 80px;
}

.about-description {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 3px 3px 10px gray;
  padding: 10px;
  margin: 50px 0 50px 0;
  gap: 50px;
}

.about-description p {
  font-size: 18px;
}

.about-links {
  display: flex;
  justify-content: end;
}

.about-links i {
  text-align: end;
  font-size: 30px;
  color: black;
}

main {
  margin: var(--default-margin);
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 50px;
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.project-card {
  width: 20rem;
  height: 25rem;
  box-shadow: 2px 3px 10px black;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-card img {
  width: 100%;
  height: 50%;
}

.project-description {
  display: grid;
  padding: 10px;
  grid-template-rows: 30% 100%;
  gap: 20px;
}

.project-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-heading a {
  color: black;
}

.project-link {
  display: flex;
  gap: 12px;
  transition: 0.3s;
}

.project-link a {
  color: black;
  font-size: 20px;
  animation: spin-animation-reverse 0.7s 1;
}

.project-link a:hover {
  animation: spin-animation 0.7s 1;
}

footer {
  background-color: rgb(0, 126, 176);
  padding: 100px;
  display: flex;
  justify-content: space-between;
}

.footer-description {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
}

.footer-description h1 {
  font-size: 40px;
}

.footer-description p {
  font-size: 20px;
}

.footer-email {
  display: flex;
  gap: 10px;
}

.footer-links {
  display: flex;
  margin-top: 30px;
}

.footer-links a {
  color: black;
  font-size: 42px;
}

footer img {
  /* transform: translateX(200px); */
  object-fit: cover;
  width: 500px;
  height: 300px;
  align-items: center;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-animation-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1030px) {
  body {
    background: linear-gradient(166deg, rgb(0, 126, 176) 15%, transparent 15.1%) no-repeat;
  }

  .about-container {
    flex-direction: row;
  }

  .about-container img {
    width: 100%;
    height: 100%;
  }

  .project-container {
    /* margin: 20px 50px; */
  }

  .project-card {
    width: auto;
    max-width: 20rem;
  }

  .project-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    padding: 50px;
    gap: 50px;
  }

  .footer-details {
    margin: var(--default-margin);
  }
}

@media (max-width: 664px) {
  footer {
    flex-direction: column;
    gap: 50px;
    padding: 0;
    align-items: center;
  }

  footer img {
    width: 100%;
    margin: 0;
  }

  .footer-details {
    padding: 50px;
  }

  .footer-description,
  .footer-links {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 580px) {
  html {
    overflow-x: hidden;
  }

  body {
    background: linear-gradient(166deg, rgb(0, 126, 176) 7%, transparent 7.1%) no-repeat;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
  }

  .about-container img {
    width: 80%;
  }

  .about-card {
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    width: 100%;
    padding: 10px 10px;
    margin: 20px 0 20px 0;
    gap: 20px;
    background-color: transparent;
  }

  .about-description h2 {
    text-align: center;
    font-size: 40px;
  }

  .about-description {
    display: flex;
    gap: 10px;
  }

  .about-links {
    display: flex;
    justify-content: center;
  }

  .project-container {
    display: flex;
    align-items: center;
  }

  .project-container h1 {
    font-size: 40px;
  }

  .project-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .project-card {
    width: 15rem;
    height: 20rem;
  }

  footer {
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }

  .footer-description {
    padding: 20px;
    gap: 50px;
  }

  .footer-description h1 {
    font-size: 40px;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
  }

  footer img {
    width: 100%;
    height: auto;
    margin: 30px 0 0 0;
    object-fit: contain;
  }
}
